.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.art {
  height: 120px;
  margin-top: 20px;
}

.title {
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    var(--colors-red),
    var(--colors-yellow)
  );
  font-size: calc(1rem * 30 / 16);
  margin-top: 10px;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.subtitle {
  font-weight: 600;
  color: var(--colors-red);
  font-size: calc(1rem * 16 / 16);
  margin-top: 7px;
}

.subtitle-link {
  text-decoration: underline;
  color: inherit;
}

.texts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.text {
  color: var(--colors-pink);
  font-weight: 400;
  font-size: calc(calc(1rem * 10 / 16) + 1vw);
  margin-top: 10px;
  width: 92%;
}

.text:first-of-type {
  margin-top: 0;
}

.social-links {
  display: flex;
  margin: auto 0 40px;
}

.social-link {
  background-image: linear-gradient(
    to right,
    var(--colors-red),
    var(--colors-yellow)
  );
  box-shadow: 0 0 2px #ff7e42;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
}

.social-link:last-of-type {
  margin-right: 0;
}

.social-link svg {
  width: 20px;
  height: 20px;
  fill: black;
}

@media screen and (min-width: 370px) {
  .art {
    height: 160px;
  }

  .title {
    font-size: calc(1rem * 36 / 16);
  }

  .subtitle {
    font-size: calc(1rem * 20 / 16);
  }

  .text {
    font-size: calc(1rem * 15 / 16);
    margin-top: 15px;
  }

  .social-link {
    margin-right: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .art {
    height: 280px;
  }

  .title {
    font-size: calc(1rem * 78 / 16);
    margin-top: 15px;
  }

  .subtitle {
    font-size: calc(1rem * 36 / 16);
    margin-top: 10px;
  }

  .texts {
    margin-top: 30px;
  }

  .text {
    font-size: calc(1rem * 27 / 16);
    max-width: 60ch;
  }

  .social-links {
    margin: auto 0 60px;
  }

  .social-link {
    width: 75px;
    height: 75px;
    margin-right: 100px;
  }

  .social-link svg {
    width: 35px;
    height: 35px;
  }
}
